:root {
  --color-base-background: #fff;
  --color-base-background-lighter: #f2f7fa;
  --color-base-text: #111;
  --color-base-text-lighter: rgba(0, 0, 0, 0.8);
  --color-border: rgba(0, 0, 0, 0.8);
  --color-primary-background:  #111;
  --color-primary-text: #111;
  --color-social-link-background: #111;
}
